@import url('https://fonts.googleapis.com/css2?family=Overpass:ital@0;1&family=Space+Mono:wght@700&display=swap');


:root {
    --background-color: #1e1e2e;
    --searchbar-color: #313244;
    --header-color: #cba6f7;
    --status-color: #F0F0F0ff;
    --title-color: #cba6f7;
    --link-color: #cdd6f4;
    --hover-color: #cba6f7;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: repeat(2, 0.5fr, 2fr); */
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 20px;
    height: 100vh;
    background-color: var(--background-color);
}

.content-container {
    /* grid-column: 2; */
    /* grid-row: 2; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    text-align: center;
}

h1 {
    color: var(--header-color);
    font-family: 'JetBrains Mono';
    font-size: 2.75rem;
}

.status-strip {
    /* margin-right: 14vh; */
    margin-top: 1vh;
    /* margin-bottom: 8vh; */
    color: var(--status-color);
    font-family: 'JetBrains Mono';
    font-size: 1.5rem;
}

span {
    margin-left: 2vh;
}

.card-container {
    height: 30vh;
    min-width: 80%; 
    /* width: 60vw; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    width: 15vh;
    height: 30vh;
    text-align: center;
}



.title {
    margin-top: 2vh;
    font-family: 'JetBrains Mono';
    color: var(--title-color);
    font-size: 1.3rem;
}

a {
    font-family: 'JetBrains Mono';
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--link-color);
    margin-top: 2vh;
}

a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

img {
    grid-column: 1;
    border-radius: 8px;
    grid-row: 2;
    justify-self: end;
    width: 50vh;
    height: 50vh;
    margin-right: 15vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.grow {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.grow:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#searchbar {
    width: 80%;
    height: 2rem;
    background-color: var(--searchbar-color);
    color: var(--link-color);
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
    font-family: "JetBrains Mono";
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#searchbar:focus {
    outline: none
}

.ascii-art {
    padding-bottom:1rem;
    font-size:6px;
    color: var(--title-color);
    white-space: pre;
}
